* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.calculator {
    background-color: #4E4E4E;
    width: 90%;
    padding: 15px;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    margin-top: 10%;

    .calculator-display {
        background-color: #CFDECF;
        height: 70px;
        width: 96%;
        border-radius: 8px;
        font-size: 50px;
        overflow: hidden;

        @media(min-width: 1024px) {
            height: 100px;
        }
    }

    .calculator-body {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .btn {
            background-color: #EBEBEA;
            font-size: 22px;
            width: 20%;

            @media(min-width: 1024px) {
                font-size: 30px;
            }
        }

        .btn:hover {
            background-color: #4361ee;
            color: #EBEBEA;
        }

        #equals,
        #ac,
        #c {
            background-color: rgba(255, 106, 0, 0.8);
        }

        #equals:hover {
            background-color: #ee9b00;
        }

        #ac:hover {
            background-color: #ee9b00;
        }

        #c:hover {
            background-color: #ee9b00;
        }

        @media(min-width: 1024px) {
            gap: 25px;
        }
    }

    @media(min-width: 375px) {
        width: 80%;
    }

    @media(min-width: 768px) {
        width: 40%;
    }

    @media(min-width: 1024px) {
        width: 43%;
        padding: 30px;
        gap: 30px;
    }

    @media (min-width: 1440px) {
        width: 31%;
    }

    @media(min-width: 1680px) {
        width: 26%;
    }
}